<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/styles/adminUser.css" type="text/css">
    <link rel="stylesheet" href="/admin/styles/common.css" type="text/css">
    <script defer src="/admin/scripts/adminIndex.js" type="text/javascript"></script>
    <script src="https://kit.fontawesome.com/a3db7225ba.js" crossorigin="anonymous"></script>
</head>
<body>

<th:block th:replace="~{admin/common.html :: mainHeader}"></th:block>
<th:block th:replace="~{admin/common.html :: mainNav}"></th:block>
<main id="main">
    <table class="table">
        <tr class="main-container">
            <td>이메일</td>
            <td>닉네임</td>
            <td>전화번호</td>
            <td>인증여부</td>
            <td>경고여부</td>
            <td><!-- 버튼 자리 --></td>
        </tr>
        <tr class="user-container" th:each="user : ${users}">
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getNickName()}"></td>
            <td th:text="${user.getContact()}"></td>
            <td th:text="${user.isVerified()}"></td>
            <td th:text="${user.getWarning() + ' 회'}"></td>
            <td>
                <button id="updated-button" class="user-button updated-button" type="submit">수정</button>
                <button id="deleted-button" class="user-button deleted-button" type="submit">탈퇴</button>
                <button id="warning-button" class="user-button warning-button" type="submit">경고</button>
            </td>
        </tr>
    </table>
</main>
<th:block th:replace="~{admin/common.html :: mainFooter}"></th:block>


</body>
</html>